*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background: #212121;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #181818;
    width: 3.5%;
    height: 100%;
    position: fixed;
}

.logo{
    background: #181818;
    max-width: 100%;
    background: black;
    user-select: none;
}

.main-links li i{
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
    background: #181818;
    width: 22.5px;
    height: 21px;
}

.main-links li i:hover{
    color: cyan;
    opacity: 90%;
}

.bottom-links li i{
    color: #505050;
    padding-bottom: 20px;
    background: #181818;
    width: 15.5px;
    height: 16px;
}

.bottom-links li i:hover{
    color: cyan;
    opacity: 90%;
}

.signature{
    position: absolute;
    right: 2.5%;
    bottom: 5%;
    user-select: none;
    animation-name: sigFadeIn;
    animation-duration: 3s;
}

@keyframes sigFadeIn{
    from{opacity: 0%;}
    to{opacity: 1;}
}
.title-font{
    color: cyan;
    position: absolute;
    left: 10%;
    top: 30%;
    font-weight: 700;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 90%;
    user-select: none;
    resize: both ;
}

.text-font{
    color: white;
    position: absolute;
    left: 10%;
    top: 40%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    letter-spacing: 1px;
    opacity: 90%;
    animation-name: textDelay;
    animation-duration: 5.4s;
}

@keyframes textDelay{
    from{opacity: 0;}
    to{opacity: .9;}
}

@-webkit-keyframes textDelay{
    from{opacity: 0;}
    to{opacity: .9;}
}

.binary-appachie{
    position: absolute;
    left: 7%;
    bottom: 10%;
    color: #505050;
    opacity: 60%;
    font-size: 12px;
    user-select: none;
    animation-name: binaryFadeIn;
    -webkit-animation-name: binaryFadeIn;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

.binary-nile-weadick{
    position: absolute;
    left: 7%;
    bottom: 85%;
    color: #505050;
    opacity: 60%;
    font-size: 12px;
    user-select: none;
    animation-name: binaryFadeIn;
    -webkit-animation-name: binaryFadeIn;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

@keyframes binaryFadeIn{
    from{opacity: 0%;}
    to {opacity: 60%;}
}

@-webkit-keyframes binaryFadeIn{
    from{opacity: 0%;}
    to {opacity: 60%;}
}
.btn{
    position: absolute;
    left: 10%;
    top: 55%;
    background: none;
    box-sizing: border-box;
    border: 3px solid cyan;
    padding: 15px 30px;
    font-size: 17px;
    color: cyan;
    opacity: 90%;
    cursor: pointer;
    user-select: none;
}

.btn::before, .btn::after{
    color: cyan;
    opacity: 90%;
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #212121;
    transform: skewX(50deg);
    transition: .4s linear;
    -webkit-transform: skewX(50deg);
    -webkit-transition: .4s linear;
}

.btn::before{
    top: -4px;
    left: 10%;
}

.btn::after{
    bottom: -4px;
    right: 10%;
}

.btn:hover::before{
    left: 80%;
}

.btn:hover::after{
    right: 80%;
}

.btn :visited{
    color: cyan;
    opacity: 90%;
}

@media screen and (max-width: 1024px){

    header{
        width: 10%;
    }

    .binary-nile-weadick{
        left: 12.5%;
    }

    .binary-appachie{
        left: 12.5%;
    }

    .btn{
        left: 15%;
    }

    .text-font{
        left: 15%;
    }

    .title-font{
        left: 15%;
    }

    .main-links li i{
        font-size: 20px;
    }

    .bottom-links li i{
        font-size: 15px;
    }
    .signature{
        visibility: hidden;
    }
}

@media screen and (max-height: 1024px){
    .btn{
        top: 70%;
    }

    .text-font{
        top: 50%;
    }
}

@media screen and (max-height: 768px){
    .binary-appachie{
        font-size: 10px;
    }

    .binary-nile-weadick{
        font-size: 10px;
    }
}

@media screen and (max-width: 500px){
    header{
        width: 15%;
    }

    .binary-nile-weadick{
        left: 17.5%;
        font-size: 6px;
    }

    .binary-appachie{
        left: 17.5%;
        font-size: 6px;
    }

    .btn{
        left: 20%;
        padding: 10px 20px;
        font-size: 12px;
    }

    .title-font{
        font-size: 35px;
        left: 20%;
    }

    .text-font{
        left: 20%;
        font-size: 12px;
    }
}

@media screen and (max-height: 500px){
    .main-links li i{
        font-size: 15px;
        padding-bottom: 10px;
    }
    
    .bottom-links li i{
        font-size: 15px;
        padding-bottom: 10px;
    }

    .binary-appachie{
        visibility: hidden;
    }
    
    .binary-nile-weadick{
        font-size: 6px;
    }

    .title-font{
        font-size: 35px;
    }

    .text-font{
        font-size: 12px;
    }

    .btn{
        padding: 10px 20px;
        font-size: 12px;
    }
}